* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html {
  font-size: 100%;
}

body {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

/* layout */
.container {
  width: 80%;
  margin: 0 auto;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.float-section {
  /* background-color: #abcfe7; */
  margin-top: 25px;
  height: 600px;
  /* border-bottom: 20px solid #0086ff; */
  padding-bottom: 20px;
}

[class*="column"] {
  /* border: 8px solid #0086ff; */
  float: left;
  height: 500px;
}
/* /layout */

/* header */
.head-of-page {
  height: 110px;
  /* background-color: #e579e6; */
}

/* immagine logo */
.logo {
  height: 60%;
  border-right: 1px solid #ebebeb;
  padding-right: 15px;
}
/* /immagine logo */

/* nav section */
.navigation li {
  display: inline-block;
  padding: 18px 15px 0 10px;
  color: #a8a8a8;
}
/* /nav section */
/* /header */

/* main */
.jug-box {
  background-image: url(../img/banner.jpg);
  height: 400px;
  margin-top: 35px;
  border-radius: 15px;
  /* parte relativa all'immagine */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* scritte nel jug */
.opacity {
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.2;
  border-radius: 15px;
}

.titolo-div {
  color: white;
  display: inline-block;
  width: 52%;
  margin-top: 239px;
  margin-left: 40px;
  font-size: 1.5em;
}

.p-div {
  width: 58%;
  margin-left: 40px;
  color: white;
  display: block;
}
/* float section of main */

/* secheader */
.float-sec-header {
  /* border-bottom: 15px solid #0086ff; */
  margin-bottom: 15px;
  height: 100px;
  /* background-color: #abcfe7; */
}

#leadership {
  font-size: 2.2em;
}
.under-title {
  color: #d9d9d9;
}

/* float column layout */
.column-left,
.column-right {
  width: 25%;
}

.column-middle {
  width: calc(50% - 60px);
  margin: 0 30px;
}

.column-left {
  border-left: 0px;
}

.column-right {
  border-right: 0px;
}

.text-col {
  color: grey;
}

.text-col-title {
  color: black;
  margin-top: 20px;
  margin-bottom: 10px;
}
/* /float column layout */

/* column structure left*/
.img-col-left {
  height: 100%;
  background-color: black;
  opacity: 0.2;
}

.img-left {
  background-image: url(../img/img-1.jpg);
  width: 100%;
  height: 40%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.img-col-left,
.img-left {
  border-radius: 15px;
}


/* column structure middle */
.img-col-middle {
  height: 100%;
  background-color: black;
  opacity: 0.2;
}

.img-middle {
  background-image: url(../img/banner-2.jpg);
  width: 100%;
  height: 40%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.img-col-middle,
.img-middle {
  border-radius: 15px;
}

/* column structure right */
.img-col-right {
  height: 100%;
  background-color: black;
  opacity: 0.2;
}

.img-right {
  background-image: url(../img/img-3.jpg);
  width: 100%;
  height: 40%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.img-col-right,
.img-right {
  border-radius: 15px;
}
/* /main */

/* footer */
.end-of-page {
  height: 55px;
  margin-top: 10px;
  text-align: center;
}

.red-hearth {
  color: red;
}
/* /footer */

